.email__input {
	border: 1px solid #dadada;
	box-sizing: border-box;
	border-radius: 3px;
	width: 100%;
	height: 48px;

	&::placeholder {
		padding-left: 15px;
		color: map-get($map: $colors, $key: 'brand--3');
	}
}
