.nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	&__list {
		display: none;
		width: 100%;
		text-align: center;
	}
	&__hamburger {
		z-index: 2;
	}
	&__list.active {
		z-index: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 30vh;
		background-color: map-get($map: $colors, $key: 'brand--1');
		li {
			margin: 20px 0;
		}
	}
	&__cta {
		display: none;
	}
}

@media screen and (min-width: 870px) {
	.nav {
		align-items: center;
		flex-wrap: nowrap;
		background: none;

		&__hamburger {
			display: none;
		}

		&__list {
			ul {
				display: flex;
			}
			order: 1;
			position: relative;
			display: block;
			width: auto;
		}

		&__cta {
			order: 2;
			display: block;
		}
	}
}
