.banner {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 448px;
	background-image: url(../../../images/Bitmap.png);
	background-size: cover;
	background-repeat: no-repeat;
	h3 {
		max-width: 550px;
	}
}

@media only screen and (min-width: 1024px) {
	.banner {
		h3 {
			font-size: 56px;
			line-height: 64px;
			max-width: 750px;
		}
	}
}
