@media only screen and (min-width: 1024px) {
	.block__info {
		display: flex;
		flex-direction: column;
		.block__text {
			display: flex;
			align-items: center;
			justify-content: center;

			.text {
				max-width: 550px;
			}
		}
		.cards {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}
	}
}
